* {
    padding: 0;
    margin: 0;
}

body {
    
    background-color: #9DDFD3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
}

 

.header-el {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    color: #FECD1A;
    text-shadow: 1px 1px 4px #005F99;
}


.discription-el {
    width: 70vw;
    height: auto;
    font-size: 20px;
    
    text-align: justify;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #DBF6E9;
    border-left: 5px solid #31326F;
}

.middle-el {
    width: 70vw;
    
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 30px;
    /* border: 1px solid black; */
}

.list-header-el {
    width: 360px;
    max-width: 400px;
    height: auto;
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px #31326F;
    /* border: 2px solid blue; */
}

.list-el {
    width: 360px;
    height: auto;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    /* border: 3px solid black; */
}

.middle-list-el {
    /* border: 1px solid black; */
    background-color: #DBF6E9;
}

.img-el {
    /* border: 3px solid black; */
    padding: 15px;
}

img{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 9px;
    filter: drop-shadow(0 0 0.60rem #000);
}

.lower-el {
    width: 70vw;
    height: auto;
    /* border: 2px solid red; */
}

.lower-header-el {
    font-size: large;
    /* border: 2px solid blue; */
    padding: 10px;
    margin-bottom: 15px;
    text-align: start;
    text-shadow: 1px 1px 2px #31326F;
}

.lower-list-el {
    font-size: 19px;
    /* border: 2px solid chartreuse; */
    text-align: justify;
}

ul {
    list-style-type: none;
}

ul > li:before { content: '🥣'; margin-left: -20px; margin-right: 10px; }
 
ol > li {
    list-style-type:none;
    padding: 5px;
    margin-bottom: 5px;
}

ol > li:before { content: '👉'; margin-left: -20px; margin-right: 10px; } 

.nav-el {
    position: fixed;
    right: 0;
    bottom: 50%;
}

.home-btn {
    width: 50px;
    height: 50px;
    background-color: #FECD1A;
     
    border-bottom: 1px solid #FECD1A;
}

#home-icon {
    font-size: 50px;
    color: #9DDFD3;
}

 



.github-btn {
    width: 50px;
    height: 50px;
    background-color: #31326F;
    text-align: center;
    border-bottom: 1px solid #31326F;
}

.fa_custom {
    color: #9DDFD3;
}
